    <% include partials/header%>
    <div class="container mt-3">
        <div class="row d-flex align-items-center">
            <div class="col-sm-6 text-center">
                    <h2>You Must Enter to values</h2>
                <div class="row">
                    <div class="col">
                        <label for="SideA">Side a</label>
                        <input type="text" class="form-control" id="SideA">
                    </div>
                    <div class="col">
                        <label for="SideB">Side b</label>
                        <input type="text" class="form-control" id="SideB">
                    </div>
                    <div class="col">
                        <label for="SideH">Side h</label>                       
                        <input type="text" class="form-control" id="SideH">
                    </div>
                </div>
                <button class="btn btn-info btn-sm calculate_btn mt-3">Calculate</button>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid" src="..//ratbig.gif">
            </div>
        </div>
    </div>
   








    <% include partials/footer%>